body{
    margin:0;
    padding:0;
}
.toparea{
    background:#BD5954;
    padding:10px 0;
    color:#FFF;
    text-align:center;
}
.toparea a:link,.toparea a:visited{
    text-decoration:none;
    color: white;
}
.logoarea{
    background:#F2C38B;
    padding:48px 0;
    text-align:center;
}
.logoarea img{
    height:110px;
}
.logoarea h1{
    color:#74353F;
}
.menuarea{
    padding:6px 0;
    text-align: center;
}
.menuarea ul{
    margin-left:100px;
}
.menuarea i{
    font-size:14px;
    margin-right: 5px;
}
.nav-link{
    color:red !important;
}
.nav-link:hover{
    color:green !important;
}
.drop{
    margin-left: 50px;
    border:solid 2px #373de4;
    border-radius: 5px;
    font-weight: bold;
}
.drop:hover{
    background:#3835d7;
    color:white;
    font-weight: bold;
}
.parea{
    background:white ;
    text-align:center;
    padding:48px 0;
}
.fullwidth{
    width:100%;
}
.parea p{
    text-align:justify;
}
.parea p:last-child{
    text-align:right;
}
.carea{
    padding:50px 0;
    text-align:center;
    background-image:url('background.webp');
}
.box{
    padding:20px 0;
    margin:15px 0px;
    background:rgb(255, 255, 255);
    width:100%;
    overflow:hidden;
}
.box img{
    margin:20px 0px;
    height:150px;
    transition:all 2s;
    border-radius:50%;
}
.box:hover img{
    transform:rotate(360deg);
}
.carea p{
    background:white;
    padding:20px 0;
    font-size:18px;
}
.carea a:link,.carea a:visited{
    color:#794027;
    text-decoration:none;
}
.alumni{
    background-image:url('https://www.technojobs.co.uk/info/sites/www.technojobs.co.uk/files/styles/article_image_large/public/graduation%201.1.png?itok=Ql873XV6');
    padding:150px 0;
    background-size:cover;
    text-align:center;
}
.alumni img{
}
.foot{
    background:#161616;
    padding:44px 0;
}
.foot h4{
    color:white;
    border-left:solid 5px white;
    padding-left:10px ;
}
.foot ul{
    margin:0;
    padding:0;
    list-style:none;
}
.foot ul li{
    margin:5px 0;
}
.foot a:link,.foot a:visited{
    color:#D37C49;
    text-decoration:none;
    transition:all 0.5s;
    display:block;
    padding:2px 0;
}
.foot ul li a:hover{
    transform: translate(10px, 0);
}
#call a:hover{
    color:#F2C38B;
}
.foot p{
    color:#F2C38B;
    padding:5px 0;
}
#farea1{
    padding:1px 0;
    width:100%;
    background:linear-gradient(to left,transparent, white, transparent );
    margin:20px 0;
}
#bottomarea p{
    text-align:center;
    color:white;
}