body{
    margin:0;
    padding:0;
}
.header{
    padding:5px 0;
}
.logo{
    padding:8px 20px;
}
.logo img{
    height:100px;
    float:left;
}
.logo p{
    float:left;
    color:#F80F60;
    text-shadow: 5px 1px 3px rgba(0,0,0,0.5);
    font:bold 30px  'Ephesis', cursive;
    padding:5px 10px;
    border-left: solid 2px #F80F60;
}
.cont{
    text-align: center;
    padding: 10px 0;
}
.cont ul li img{
    height:40px;
}
.cont ul{
    list-style:none;
    margin:0;
    padding:0;
}
.cont ul li{
    color:red;
    float:left;
    margin:10px 0;
    padding:10px 15px;
    font :normal 13px 'Ephesis', cursive;
    border-right:solid 2px #FA1A0B;
    text-align:center;
}
.cont ul li:last-child{
    border-right:none;
}
.cont ul li a:link,.cont ul li a:visited{
    color:#002147;
    font-size: 13px;
    text-decoration:none;
}
.cont ul li a:hover{
    color:#099FA4;
    border:dotted 1px #6D05EA;
    text-decoration:none;
}
.title{
    padding:10px 15px;
    text-align: center;
}
.title ul {
    list-style:none;
    margin:0;
    padding:0;
}
.title ul li {
    float:left;
    padding:20px 10px;
    margin-left: 20px;
}
.title ul li a:link,.title ul li a:visited{
    font:bold 10px 'Ephesis', cursive;
    text-decoration:none;
    background:#002147;
    color:white;
    display:block;
    padding:20px 10px;
    border-radius:15px;
    border:solid 2px #002147;
}
.title ul li a:hover{
    background:white;
    color:#002147;
    border:solid 2px #002147;
}
.menuarea1{
    background: #000000;
    padding:0;
    margin:0;
}
.m1{
    background: #000000;
}
.m1list{  
    color:#ffffff !important;
    padding:15px 35px !important;
}
.m1list:hover{  
    color:#ef0d51 !important;
    padding:15px 35px !important;
    background: #e8f3f8;
    border-radius: 5px;
}
.menuarea2{
    background: #000000;
    padding:0;
    margin:0;
}
.m2{
    background: #ffffff;
}
.m2list{  
    color:#002147 !important;
    padding:15px 20px !important;
}
.m2list:hover{  
    color:#f5f2f3 !important;
    padding:15px 20px !important;
    background: #002147;
    border-radius: 5px;
}
.picture{
    width:100%;
    height:600px;
}
.slide1{
    background:red;
    padding:5px 30px;
}
.slide1 h2{
    color:white;
    font:normal 27px 'Ephesis', cursive;
}	
.slide2{
background:black;
padding:5px 0;
}
.slide2 marquee ul{
    list-style:none;
}
.slide2 marquee ul li{
    float:left;
    font:bold 13px arial;
    margin-right:20px;
}
.slide2 marquee ul li a:link,.slide2 marquee ul li a:visited{
    color:white;
    text-decoration:none;	
}
.slide2 marquee ul li a:hover{
    color:yellow;
    border:dotted 1px #45F729;
}
.programarea{
    text-align: center;
    padding:20px 0;
}
.program1{
    text-align:center;
    padding-top:8px;
}
.program1 h1{
    font:normal 32px 'Ephesis', cursive;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.79);
}
.linel{
    height:1px;
    width:100%;
    margin:30px 0;
    background-image: linear-gradient(to right,transparent 0%,#002147 );
}
.liner{
    height:1px;
    width:100%;
    margin:30px 0;
    background-image: linear-gradient(to left,transparent 0%,#002147 );
}
.programarea p{
    padding:20px 0;
    font-weight: bold;
}
/*.nav-link{
    text-decoration:none !important;
    color:#002147 !important;
    background:white !important;
    font:bold 15px arial !important;
    border-radius:10px !important;
    border:solid #002147 3px !important;
    text-align: center !important; 
    padding:10px 20px !important;
    margin:10px 30px !important;
    display: block !important;
}*/
.parea:hover{
    color:white !important;
    background:#002147 !important;
}
.facilityarea{
    padding:30px 0;
    text-align:center;
    background: #F8F7F5;
}
.farea21{
    width:100%;
    float:left;
    margin:20px 0;
    background:white;
    box-shadow: 0px 5px 4px 1px rgba(198,198,198,1);
}
.pic{
    width:100%;
    float:left;
    overflow:hidden;
    position:relative;
}	
    
.pic img{
    width:100%;
    height:200px;
    transition:all 3s;
}
.pdetail{
    position:absolute;
    height:100%;
    width:100%;
    bottom:-200px;
    padding:85px 10px;
    background:rgba(50, 79, 131, 0.6);
    transition:all 0.4s;
 }
 .pdetail a:link,.pdetail a:visited{
    position:absolute;
    padding:5px 10px ;
    font-size:15px;
    color:white;
    border:solid 1px red;
    border-radius:50%;
    transition:all 1s;
    text-align: center;
}
        
.pic:hover .pdetail{
    display:block;
    transform:translate(0,-100%);
}
.pic:hover .pdetail a{
    transform:rotate(720deg) scale(1.0,1.0);
}
.pdetail a:hover{
    color:red;
}
.word{
    width:100%;
    float:left;
    text-align: center;
    padding:20px 0;
    font:bold 23px arial;
}
.word a:link,.word a:visited{
    color:#002147;
    text-decoration:none;
}
.word a:hover{
    color:#AB0530;
}
.extraarea{
    text-align: center;
    padding:40px 0;
    background: white;
}
.extra1{
    width:100%;
    box-shadow: 0px 6px 8px 3px rgba(0,0,0,0.75);
    position:relative;
    margin:30px 0;
    overflow:hidden;
} 
.extra1 img{
    height:180px;
    width:100%;
    transition:all 3s;
}
.edetails{
    position:absolute;
    bottom:-145px;
    width:100%;
    height:100%;
    background:rgba(10, 12, 54, 0.585);
    display:block;
    transition:all 0.5s;
    padding-right: 45px;
    text-align: justify;
}
.edetails h4{
    position:relative;
    color:white;
    font:normal 20px arial;
    left:25px;
    top:5px;
    transition:all 0.5s;
}
.edetails p{
    color:white;
    font:normal 14px arial;
    position:relative;
    left:25px;
    top:10px;
    padding-bottom:30px;
}
.edetails a:link,.edetails a:visited{
    position:relative;
    left:25px;
    bottom:10px;
    text-decoration:none;
    color:white;
    font:bold 16px arial;
    border-bottom:solid 2px white;
}
.extra1:hover .edetails{
    display:block;
    bottom:0;
}
.extra1:hover .edetails h4{
    padding-top:20px;
}

.activearea{
    text-align: center;
    padding:30px 0;
    background: #F8F7F5;
}
.aaaa{
    padding:60px 25px;
}
.active{
    width:100%;
    float:left;
    margin:25px 0;
    position:relative;   
} 
.imgactivity{
    width:50%;
    float:left;
    overflow:hidden;
}
.imgactivity img{
    width:100%;
    height:250px;
    transition:transform 3s;
}
.imgactivity img:hover{
    transform:scale(1.1,1.1);
}
.active:hover img{
    transform:scale(1.1,1.1);
}
.textactivity{
  width:50%;
  background:#B1A299;
  float:left;
}
.textactivity h3{
  font:normal 20px arial;
  text-align: center;
  padding:40px 10px;
}
.textactivity p{
  font:normal 15px arial;
  text-align: center;
}
.textactivity a:link,.textactivity a:visited{
  font:bold 15px arial;
  text-decoration:none;
  color:#002147;
  transition:all 0.5s;
  position:relative;
  display: block;
  bottom:-5px;
  padding:32px 0;
}
.textactivity  i{
  transition:all 0.5s;
  color:#002147;      
}
.textactivity a:hover i{
  transform:translate(10px,0);
}
.topactivity{
  position:absolute;
  top:-19px;
  padding:0 100px;
  width:100%;
  display:block;
  text-align:center;
  color:white;
  z-index: 1000;
  }
.topactivity a:link,.topactivity a:visited{
  text-decoration:none;
  font:normal 13px arial;
  background:#002147;
  color:white;
  display:block;
  padding:10px 35px;
}
.actarea {
  text-align: center;
  border-radius:20px;
  padding:50px 0;
}
.actarea  a:link,.actarea a:visited{
  text-decoration:none;
  color:#002147;
  background:white;
  padding:20px 30px;
  font:bold 15px arial;
  border:solid 2px #002147;
  border-radius:15px;
  transition:all 0.5s;
}
.actarea  a:hover{
  background:#002147;
  color:white;
}
.actarea i{
  transition:all 0.5s;
}
.actarea a:hover i{
  transform:translate(10px,0);
}

.teddyarea{
    padding:60px 50px;
    background: white;
    text-align: center;
}
.teddy{
    padding:60px 10px;
}
.teddy2a{
    width:50%;
    float:left;
    background:#002147;
    margin-top:-16px;
    overflow:hidden;
}
.teddy2a img{
    height:325px;
    width:100%;
    transition:all 1s;
}
.teddy2b{
    width:50%;
    height:296px;
    float:left;
    background:#002147;
    border:solid 2px #002147;
    position:relative;
    overflow:hidden;
    text-align:left;
}
.teddy2b a:link,.teddy2b a:visited{
    text-decoration:none;
    color:white;
    font:normal 15px arial;
    background:#002147;
    padding:10px 15px;
    transition:all 1s;
}
.teddy2:hover a{
    color:#002147;
    background:white;
}
.teddy2 i{
    color:white;
    transition:all 1s;
}
.teddy2:hover i{
    color:#002147;
    transform:translate(10px,0);
}
.over{
    width:100%;
    height:100%;
    float:left;
    background:#F8F7F5;
    position:absolute;
    overflow:hidden;
    transition: all 1s;
}
.tdetail{
    position:absolute;
    width:100%;
    height:100%;
    display:block;
    color:#002147;
    overflow:hidden;
    transition: all 1s;
}
.teddy2:hover .tdetail{
    display:block;
    color:white;
}
.teddy2:hover .over{
    transform:translate(-100%,-100%);
}
.teddy2:hover .teddy2a img{
    transform:scale(1.1,1.1);
}
.tdetail h1{
    font:normal 35px arial;
    padding:5% 5%;
}
.tdetail p{
    font:normal 15px arial;
    padding:5% 10%;
}
.teddyside{
    width:0px;
    height:0px;
    position: relative;
    top:75px;
    left:255px;
    border-top:solid 55px transparent;
    border-right:solid 55px #002147;
    border-left:solid 55px transparent;
}
.teddy3{
    padding:50px 50px;
}   
.teddy31{
    width:100%;
    height:396px;
    background:#F8F7F5;
    border:solid 2px #B1A299;
    text-align: left;
}
.teddy31 h1{
    font:normal 30px 'Ephesis', cursive;
    padding:10% 50px ;
    color:#002147;
}
.teddy31 p{
    font:normal 15px arial;
    padding:2% 50px;
}
.teddy32{
    width:100%;
    height:430px;
    padding:0;
    position: relative;
    top:-15px;
}
#watch{
    width:250px;
    padding-left:50px;
    transition:transform 8s  ease;
}
#watch a:link,#watch a:visited{
    text-decoration:none;
    color:white;
    display:block;
    background:#002147;
    padding:16px 25px;
    font:normal 15px arial;
    transition:all 1s;
}
#watch a:hover{
    color:#002147;
    background:white;
    border-bottom: solid 3px #002147;
}

#watch i{
    color:white;
    transition:all 1s;
}
#watch:hover i{
    color:#002147;
    transform:translate(10px,0);
}
.contactarea{
    padding:40px 0;
    background: #F8F7F5;
}
.contact1a{
    padding:3% 5%;
}
.contact1a h1{
    font:normal 30px arial;
    color:#002147;
    padding:20px 0;
}
.contact1a i{
    margin-right:20px;
    font-size:30px ;
}
.contact1a ul{
    list-style:none;
    margin:0;
    padding:0;
}
.contact1a ul li{
    padding:20px 30px;
    border:solid 1px #E6E6E6;
    font:normal 20px arial;
    margin:10px 0;
}
.maparea{
    width:100%;
    padding:3% 5%;
}
.maparea h1{
    text-align: center;
    font:normal 30px arial;
    color:#002147;
    padding:20px 0;
}
.footerarea{
    background:#002147;
    padding:30px 40px;
}
#sfoottl{
    width:0px;
    height:0px;
    float:left;
    padding:0px;
    position: relative;
    top:-55px;
    border-top:solid 26px transparent;
    border-right:solid 26px black;
    border-left:solid 26px transparent;
}
#sfootr{
    width:150px;
    background:black;
    float:left;
    position: relative;
    top:-55px;
    color:#F8F7F5;
    padding:10px 0;
    text-align: center;
    font-family: 'Ephesis', cursive;
    font-size:20px;
}				
.footerarea h1{
    font:bold 30px arial;
    color:white;
    padding:0 15px;
    margin-left: 30px;
    border-left:solid 5px white;
}
.foot{
    padding:0 30px;
}
.foot ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.foot ul li a:link,.foot ul li a:visited{
    text-decoration:none;
    color:white;
    display:block;
    padding:10px;
    font:normal 14px arial;
    transition:all 0.6s;
}
.foot ul li a:hover{
    color:#E9AA6D;
    display:block;
    transform:translate(10px,0);
}
.foot i{
    margin-right:10px;
    transition:all 0.6s;
}
.foot a:hover i{
    transform:translate(-10px,0);
    color:#E9AA6D
}		
.social{
    background: #099FA4;
}								
.socal h2{
    font:bold 30px arial;
    color:white;
    padding:0 15px;
    border-left:solid 5px white;
}
.socal ul{
    padding:0;
    margin:0;
    list-style:none;
}
.socal ul li a:link,.socal ul li a:visited{
    float:left;
    margin:10px 5px;
    font-size:45px;
    color:#6D767A;
    padding:0 10px;
    display:block;
    text-shadow: 5px 6px 6px rgba(0,0,0,1);
}
.bottomline{
    height:1px;
    margin-top: 20px;
    background-image: linear-gradient(to right,transparent,#f4eef0,transparent );
}
.bottom{
    color:#F8F7F5;
    text-align: center;
    padding:20px 0;
}
